// Navigation code here
.intro-nav {
  .flex(@align: center);
  flex-direction: column;

  h1 {
    font-size: 4rem;
  }

  nav {
    .flex(@justify:space-between);
    width: 44%;
    margin: 1rem 0;

    a {
      text-decoration: none;
      color: @nav-font;
      font-size: 1.5rem;
    }
  }
}
